/*
 *   Beato Virginia
 *   Terzo anno, sezione di Reti e sistemi informatici
 *   Esercizio: approfondimento sui principi base dell'utilizzo dei layout con CSS, posizionamento e box model
 *   Foglio di stile della pagina tmnt.html
*/

aside>div>img{
     border-radius: 0px 20px 0px 0px;
}

aside dl{
    padding: 0pt 10pt 10pt 10pt;
    margin: 0pt;
}

aside dt, h1, #rotten span, .review{
    font-weight: bold;
}

aside dt{
    margin-top: 10pt;
}

aside, footer{
    background-color: #A2B964;
}

aside{
    float:right;
    width: 250px;
    font-family: Arial, Verdana, sans-serif;
}

body, h1{
    font-family: Verdana, Tahoma, sans-serif;}

body, .review{
    font-size: 8pt;
}

body{
    background-image: url("http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/background.png");
    margin: 0pt;
    padding: 0pt;
}

#centerRight, #centerLeft{
    float: left; 
    width: 47%;
}

#centerLeft{
    margin: 0% 1% 2% 2%;
}

#centerRight{
    margin: 0% 2% 2% 1%;
}

#content{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid gray;
    border-radius: 25px;
    overflow: hidden;
}

footer{
    clear: both;
    margin: 0px;
    padding: 5px;
}

header, h1, footer{
    text-align: center;
}

header img{
    height: 50px;
}

header{
    background-image: url("http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/bannerbg.png");
    background-repeat: repeat-x;
    background-size: auto 50px;
}

h1{
    font-size: 24pt;
    text-shadow: 3px 3px #999999;
}

.info img, .review img{
    float: left;
    margin-right: 5px;
}

.info{
    margin-bottom: 20pt;
    overflow: hidden;
}

.italic{
    font-style: italic;
}

.review img{
    display: inline;
}

.review{
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
}

#rottenReview{
    width: 550px;
}

#rotten{
     background-image: url("http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/rbg.png");
     background-repeat: repeat-x;
     background-size: auto 83px;
     border-radius: 20px 0px 0px 0px;
}

#rotten img{
    vertical-align: top;
    height: 83px;
    border-radius: 20px 0px 0px 0px;
}

#rotten span{
    font-size: 48pt;
    color: red;
}

#validator{
    position: fixed;
    right: 1pt;
    bottom: 1pt;
    opacity: 0.5;
}