/* Beato Virginia
 * Pencil: un sito di ecommerce per prodotti di cancelleria
 * 
 * La pagina Cart.css è il foglio di stile per Cart.php
 */

#cartPage{
    padding-left: 0.5em;
    text-align: left;
    overflow: auto;
}

#cartPage aside{
    float: left;
    width: 27%;
    background-color: #F0F2EF;
    border-left: 1px solid #909090;
    border-bottom: 1px solid #909090;
    padding: 1%;
}

#cartPage aside > div{
    height: auto;
    margin-bottom: 1em;
}

#cartPage #buy{
    margin-top: 1em;
}

#cartPage section > div{
    margin-bottom: 1em;
    overflow: auto;
}

#cartPage img{
    width: 10em;
    height: auto;
    float: left;
    margin-right: 1em;
}

#cartPage section{
    float: left;
    width: 69%;
    padding-right: 1%;
    padding-top: 0.5em;
}

#cartPage .title{
    font-weight: bold;
}