/* Beato Virginia
 * Pencil: un sito di ecommerce per prodotti di cancelleria
 * 
 * La pagina Homepage.css è il foglio di stile per Homepage.php
 */

#homepage{
    padding: 0.5em;
}

#homepage .inlineProducts{
    border: 1em;
}

#homepage .inlineProducts img{
    height: 10em;
    width: auto;
} 

#homepage .inlineProducts > div{
    float: left;
    padding: 1em;
}

#homepage > .title{
    clear: left;
    font-weight: bold;
    text-align: left;
    font-size: 16pt;
}