/* Beato Virginia
 * Pencil: un sito di ecommerce per prodotti di cancelleria
 * 
 * La pagina Orders.css è il foglio di stile per Orders.php
 */

#ordersPage{
    padding: 0.5em;
    text-align: left;
}

#ordersPage #date{
    font-weight: bold;
}

#ordersPage #dateR{
    font-weight: bold;
    color: red;
}

#ordersPage > div{
    margin-bottom: 1em;
    overflow: auto;
}

#ordersPage > div > div{
    margin-left: 1em;
    float:left;
}

#ordersPage img{
    width: 10em;
    height: auto;
    float: left;
}