/* Beato Virginia
 * Pencil: un sito di ecommerce per prodotti di cancelleria
 * 
 * La pagina Privacy.css è il foglio di stile per la vista Privacy.html
 */

body{
    padding: 2em 5em;
    background-color: #F0F2EF;
    font-family: "Verdana", "Arial", sans-serif;
    margin: 0px;
}

header{
    text-align: center;
}