/* Beato Virginia
 * Pencil: un sito di ecommerce per prodotti di cancelleria
 * 
 * La pagina Product.css è il foglio di stile per Product.php
 */

#productPage{
    padding: 0.5em;
    text-align: left;
}

#productPage>div{
    margin-bottom: 2em;
}

#productPage #description{
    clear: both;
}

#productPage #description pre{
    font-family: "Verdana", "Arial", sans-serif;
    margin-top: 0em;
    white-space: pre-wrap;
}

#productPage img{
    width: 25em;
    height: auto;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

#productPage #name{
    font-size: 20pt;
}

#productPage #price del{
    text-decoration: line-through;
}

#productPage #price ins{
    text-decoration: none;
    color: red;
}

#productPage #rate div{
    float: left;
}

#productPage #rate img{
    width: 1em;
    height: 1em;
    float: left;
}

#productPage span{
    font-weight: bold;
}

#productPage #removeProdWishlist, #productPage #addProdWishlist{
    margin-bottom: 1em;
}