/* Beato Virginia
 * Pencil: un sito di ecommerce per prodotti di cancelleria
 * 
 * La pagina Style.css è il foglio di stile principalmente per MainPage.php,
 * ma anche per alcune altre regole stilistiche generali.
 */

aside, #container, header, footer {
    background-color: #D8DBD7;
}

aside{
    float: left;
    width: 10%;
}

aside > div{
    height: 7em;
    padding: 1em;
}

aside div img{
    width: 4em;
    height: auto;
}

aside > div > p{
    font-weight: bold;
    font-size: 12pt;
}

body{
    background-color: #F0F2EF;
    text-align: center;
    font-family: "Verdana", "Arial", sans-serif;
    margin: 0px;
    overflow: auto;
}

#container{
    overflow: hidden;
    min-height: 718px;
}

.error{
    margin: 2em;
    padding: 0.2em;
    border: 2px solid red;
    background-color: #A5A5A5;
    color: black;
    font-weight: bold;
    text-align: center;
}

fieldset{
    border: #B7B7B7 solid 1px;
    width: 30%;
    margin: auto;
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

fieldset > div {
    text-align: left;
    margin-left: 1em;
    width: 50%;
    margin: auto;
}

fieldset legend{
    text-align: left;
    margin-left: 1em;
    font-size: 20pt;
    font-weight: bold;
}

fieldset > div > div{
    margin-bottom: 1em;
}

footer{
    clear: both;
    height: 3em;
    margin-bottom: 0px;
    padding: 0.5em;
}

footer div{
    float: left;
    width: 33%;
}

header{
    height: 5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

header > div{
    float: left;
    width: 33%;
}

header img {
    max-width: 100%;
    height: auto;
}

hr{
    clear: both;
    border: 1px solid #909090;
}

input[type="submit"], button{
    background-color: #909090;
    color: white;
    font-size: 110%;
    border-radius: 20px;
    padding: 0em 0.5em;
    text-align: center;
    border-style: none;
    box-shadow: 3px 3px 1px 0px #AAAAAA;
}

input[type="submit"]:hover {
    background-color: #A5A5A5;
}

.invisibleError{
    margin: 0.5em;
    padding: 0.2em;
    border: 2px solid red;
    background-color: #A5A5A5;
    color: black;
    font-weight: bold;
    text-align: center;
    visibility: hidden;
}

#orders, #wishlist, #cart{
    border-bottom: 1px solid #909090;
}

#searchDiv{
    margin-top: 2em;
}

section{
    float: left;
    width: 90%;
    background-color: #F0F2EF;
    min-height: 718px;
}

textarea{
    resize: none;
}