/* Beato Virginia
 * Pencil: un sito di ecommerce per prodotti di cancelleria
 * 
 * La pagina Wishlist.css è il foglio di stile per Wishlist.php
 */

#wishlistPage{
    padding: 0.5em;
    text-align: left;
}

#wishlistPage > div{
    margin-bottom: 1em;
    overflow: auto;
}

#wishlistPage img{
    width: 10em;
    height: auto;
    float: left;
    margin-right: 1em;
}

#wishlistPage #rate div{
    float: left;
}

#wishlistPage #rate img{
    width: 1em;
    height: 1em;
    float: left;
}

#wishlistPage #title{
    font-weight: bold;
}