a{
    color: #A4A400; 
}

body{
    background-image: url("sfondo.jpg");
    background-repeat: repeat;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    min-width: 1024px;
}

.boxfix {
    overflow: auto;
}

dd {
    margin-bottom: 1em;
}

#footer {
    text-align: center;
}

hr { 
    border-style: dotted;
    border-color: #A4A400;
} 

h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

h2 {
    text-align: left;
    font-size: 18pt;
}

#img {
    float: right;
}

ul {
    list-style-image: url("elencopuntato.png");
}

.specialul {
    margin-top: 0em;
}

#title, .subtitle {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial;
    text-decoration: underline;
    letter-spacing: 0.25em;
}