a{
    color: #A4A400; 
}

body {
    min-width: 1024px;
}

.boxfix {
    overflow: auto;
}

.firstparagraph {
    margin-top: -1em;
}

#footer {
    text-align: center;
    margin-top: 12em;
}

#img {
    float: right;
}

h1 {
    text-align: center;
    font-size: 25pt;
    font-weight: bolder;
    letter-spacing: 0.25em;
    margin-top: 100px;
}

h2 {
    text-align: left;
    font-size: 18pt;
}

h3 {
    text-align: left;
    font-size: 15pt;
}

table {
    border-style: solid;
}

#tabsx {
    float: left;
    width: 50%;
}

#tabdx {
    float: right;
    width: 50%;
}

#title, .subtitle {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial;
    text-decoration: underline;
}
