/*
    Beato Virginia, lab05
    Foglio di stile dell'intero sito web.
*/

#banner, #w3c{
    background-image: url("http://www.cs.washington.edu/education/courses/cse190m/12sp/homework/5/banner-background.png");
    padding: 1em;
    text-align: left;
}

#banner {
    color: white;
}

body {
    text-align: center;
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #DAD9D4;
}

caption{
    text-align: center;
}

fieldset {
    text-align: left;
    margin: 1em;
}

form {
    width: 24em;
    margin: auto;
    background-color: #DAD9D4;
}

.labels {
    text-align: center;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

table tr {
    border: 1px solid #909090;
}

table tr:nth-child(even){
    background-color: #C0BFBA;
}

table tr:nth-child(odd){
    background-color: #DAD9D4;
}

table tr:hover {
    background-color: #A6A6A1;
}