<!--
    Beato Virginia, lab05
    Codice da includere alla fine di ogni pagina contenente i form di ricerca
    e i validatori w3c.
    Attraverso il primo form si raggiunge la pagina search-all.php,
    attraverso il secondo si raggiunge la pagina search-kevin.php.
-->


				<!-- form to search for every movie by a given actor -->
				<form action="search-all.php" method="get">
					<fieldset>
						<legend>All movies</legend>
						<div class="labels">
							<input name="firstname" type="text" size="12" placeholder="first name" autofocus="autofocus" > 
							<input name="lastname" type="text" size="12" placeholder="last name" > 
							<input type="submit" value="go" >
						</div>
					</fieldset>
				</form>

				<!-- form to search for movies where a given actor was with Kevin Bacon -->
				<form action="search-kevin.php" method="get">
					<fieldset>
						<legend>Movies with Kevin Bacon</legend>
						<div class="labels">
							<input name="firstname" type="text" size="12" placeholder="first name" > 
							<input name="lastname" type="text" size="12" placeholder="last name" > 
							<input type="submit" value="go" >
						</div>
					</fieldset>
				</form>
			</div> <!-- end of #main div -->
		
			<div id="w3c">
			<a href="http://validator.w3.org/check/referer">
				<img src="http://www.cs.washington.edu/education/courses/cse190m/12sp/homework/4/w3c-html.png" alt="Valid HTML" >
			</a>
			<a href="http://jigsaw.w3.org/css-validator/check/referer">
				<img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS" >
			</a>
		</div>
		</div> <!-- end of #frame div -->
	</body>
</html>
